HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
/build/

.gitignore

.git/
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

*.log
*.tmp
*.swp
*.DS_Store

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

src/main/resources/static/uploads/*
src/main/java/com/connorng/ReUzit/common/vnpay/ajaxServlet.java
src/main/java/com/connorng/ReUzit/common/vnpay/vnpayQuery.java
src/main/java/com/connorng/ReUzit/common/vnpay/vnpayRefund.java
uploads/*
src/main/java/com/connorng/ReUzit/s3
### VS Code ###
.vscode/
.idea/

/node_modules/
/uploadFiles/*

.env
.aws/credentials
src/main/resources/application.properties
application.properties
application.yml

/venv/
replacement.txt

src/main/resources/static/uploads
uploads